* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #901c1c;
}

li {
  list-style: none;
}

#page-container {
  max-width: 1440px;
  width: 100%;
  position: relative;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tag {
  padding: 0.2rem;
  border: #c4c4c4 1px solid;
  border-radius: 20px;
  margin: 0 2px;
  font-size: 12px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 100px 20px 100px;
}

@media screen and (max-width: 768px) {
  .header-container {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1400px) {
  .header-container nav {
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo {
  height: 50px;
}

@media screen and (max-width: 1400px) {
  .logo {
    position: absolute;
    top: 70px;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    height: 40px;
    top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 100px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin-left: 20px;
    height: 30px;
    top: 30px;
  }
}

.tag-list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0 100px;
}

@media screen and (max-width: 1400px) {
  .tag-list-header {
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .tag-list-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .tag-list-header li {
    margin: 5px 0;
  }
}

.main-link {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  font-weight: 700;
  padding: 0.5rem;
  background: #901c1c;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-link:hover, .main-link:focus {
  background: #d3573c;
  color: #000;
}

.photographer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-main-title {
  position: absolute;
  right: 20px;
  top: 80px;
  margin-right: 100px;
  color: #901c1c;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  .index-main-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .index-main-title {
    font-size: 1rem;
    margin-right: 10px;
    top: 35px;
  }
}

.photographer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-top: 20px;
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
  .photographer-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .photographer-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.photographer {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
  width: 100%;
}

.photographer img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .photographer {
    margin: 20px 0;
  }
}

.photographer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photographer__description {
  padding: 0.5rem;
}

.photographer__name {
  color: #d3573c;
  font-size: 28px;
}

.photographer__location {
  color: #901c1c;
}

.photographer__price {
  color: #757575;
}
/*# sourceMappingURL=main.css.map */