@import "../utils/variables";

.photographer-container {
  display: flex;
}
.photographer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__name {
    color: $color-secondary;
  }
  &__location {
    color: $color-primary;
  }
  &__price {
    color: #757575;
  }
}
