@import "../utils/variables";


.index-main-title {
  position: absolute;
  right: 20px;
  top: 80px;
  padding-right: 100px;
  color: $color-primary;
  font-weight: normal;
}

.photographer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
  padding: 1rem;
}
.photographer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  ul {
    display: flex;
  }
  &__description {
    padding: 0.5rem;
  }
  &__name {
    color: $color-secondary;
    font-size: 28px;
  }
  &__location {
    color: $color-primary;
  }
  &__price {
    color: #757575;
  }
}
