@import "../utils/variables";
@import "../components/tags";
.header-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}
.logo {
  height: 50px;
}
.tag-list-header {
  display: flex;
  padding: 0.5rem;
  margin: 70px;
}
.main-link {
  display: none;
  font-weight: 700;
  padding: 0.5rem;
  background: $color-primary;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  &:hover,
  &:focus {
    background: $color-secondary;
    color: #000;
  }
}
h1 {
  color: $color-primary;
  font-weight: normal;
}
