.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  transition: opacity 0.3s;
  @extend %flex-center;
  &__prev,
  &__next {
    background: url(../../images/icones/chevron.svg) center center / 32px 56px
      no-repeat;
    padding: 3rem;
    width: 50px;
    z-index: 11;
    text-indent: -3000px;
    cursor: pointer;
    transition: 0.3s;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
  &__close {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    width: 32px;
    height: 56px;
    background: url(../../images/icones/times.svg) center center / 32px 56px
      no-repeat;
    text-indent: -50000px;
    z-index: 12;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
  &__container {
    @extend %flex-center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    height: 80vh;
    img {
      margin: 0 10px;
      max-width: 800px;
      max-height: 800px;
      height: 100%;
      width: 100%;
    }
    video {
      margin: 0 10px;
      max-width: 800px;
      max-height: 800px;
      height: 100%;
      width: 100%;
    }
    p {
      color: $color-primary;
      justify-self: left;
    }
}
}



.lightbox__next {
  transform: rotate(180deg);
}

.lightbox.close {
  display: none;
  opacity: 0;
}