.like-counter {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 250px;
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $bg-secondary;
    border-radius: 5px 5px 0 0;
}

.total-likes {
    display: flex;
    align-items: center;
    &__number{
        margin-right: 5px;
    }
}