.like-counter {
  position: sticky;
  bottom: 0;
  margin-left: auto;
  width: 250px;
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $bg-secondary;
  border-radius: 5px 5px 0 0;
  @include breakpoint-lg {
    display: none;
  }
}

.total-likes {
  display: flex;
  align-items: center;
  &__number {
    margin-right: 5px;
  }
}
